.l-footer{
    background-color: black;
    color: #fff;
    padding: 64px 0 !important;
    text-align: center;
    opacity: 0.6;
}
.l-footer>a{
    text-decoration: none;
    color: #000 !important;
    background-color: #f1f1f1;
    width: auto; 
    padding: 10px 16px;
    font-size: 15px;
    outline: none;
}
.l-footer>a:hover{
    background-color: #bbb;
}
.l-footer-section{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    color: #fff;
}
.l-footer .l-footer-section i{
    padding: 5px;
    font-size: 24px;
    cursor: pointer;
}
.l-footer .l-footer-section i:hover{
    color: #bbb;
}
.l-footer p a{
    color: #fff;
}
.l-footer p a:hover{
    color: #4CAF50;
}
.l-footer:hover{
    opacity: 1;
}