.l-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    padding: 8px 16px;
    box-shadow: 0  3px 6px #bbb;
    background-color: #fff;
    letter-spacing: 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 auto;
}
.l-header .l-list{
    display: flex;
    align-items: center;
}
.l-header .l-logo{
    padding: 8px 16px;
    background-color: #fff;
    cursor: pointer;
}
.l-header .l-logo:hover{
    background-color: #bbb;
}
.l-header .l-list .l-list-menu{
    padding: 8px 16px;
    background-color: #fff;
    cursor: pointer;
}
.l-header .l-list .l-list-menu:hover{
    background-color: #bbb;
}