.l-img{
    background-image: url(./content/img/header.jpg);
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    
}
.l-img h1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 10px 0;
    letter-spacing: 4px;
    font-size: 36px !important;
    color: #fff ;
    transform: translate(-50%);
    display: flex;
    align-items: center;
}
.l-img h1 b{
    background-color: #000;
    padding: 8px 16px;
    margin-right: 15px;
    opacity: 0.75;
    font-weight: bolder;
}
.l-img h1 .l-img-text-1{
    color: #f1f1f1;
    font-weight: 400;
}
.summer1{
    background-image: url('../content/img/summer\ house.jpg');
}
.brick1{
    background-image: url('../content/img/brick\ house.jpg');
}
.renovated1{
    background-image: url('../content/img/renovate.jpg');
}
.bran1{
    background-image: url('../content/img/bran\ house.jpg');
}
.summer2{
    background-image: url('../content/img/summer\ house2.jpg');
}
.brick2{
    background-image: url('../content/img/brick\ house2.jpg');
}
.renovated2{
    background-image: url('../content/img/renovated2.jpg');
}
.bran2{
    background-image: url('../content/img/bran\ house2.jpg');
}