.l-where{
    padding: 64px 5px;
    margin: 0 184.5px;
    font-size: 15px;
}
.l-where .l-where-content{
    padding: 32px 0 !important;
    margin-bottom: 16px !important;
    display: flex;
}
.l-where .l-where-content .where-img{
    padding: 0 16px !important;
    width: 33.3333%;
}
.where-img img{
    width: 100%;
    border-radius: 4px;
    height: auto;
    border-style: none ;
    box-sizing: border-box;
}
.where-panel{
    width: 66.6666%;
    margin: 16px;
    padding: 0 16px;

}
.where-panel .where-panel-large{
    margin-bottom: 16px !important;
    font-size: 18px;
}
.where-panel .where-panel-large i{
    margin-right: 16px;
}
.where-panel .where-panel-large i:hover{
    color: #000;
}
.input-half{
    margin: 0 -16px 8px -16px;
    padding: 0 8px;
    display: flex;
}
.input-half .half-input{
    padding: 0 8px !important;
    width: 49.9999%;
    box-sizing: border-box;
}
input{
    border: 1px solid #ccc !important;
    padding: 12px;
    width: 100%;
    font-size: 15px;
}
.l-where button{
    color: #fff;
    background-color: #000;
    margin: 16px 0;
    float: right;
    padding: 14px;
    font: 400;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.l-where button:hover{
    color: #000;
    background-color: #ccc;
}
