.header{
    margin: 0 auto;
    height: var(--height-header);
    background-image: linear-gradient(to bottom, #f6402d, #fe6333);
}

.header .navbar{
    height: var(--height-nav);
    display: flex;
    justify-content: space-between;
}

.header .navbar__list{
    padding-left: 0;
}

.header .navbar__item{
    padding: 0 8px;
    position: relative;
}
    /* User */
    .header .navbar__item.navbar__item-user{
        display: none;
        align-items: center;
    }
    .header .navbar__item-user:hover .navbar-user-menu{
        display: block;
    }
    .header .navbar-user-img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: 4px;
    }
    .header .navbar-user-menu{
        position: absolute;
        top: calc(100% + 8px);
        right: 0;
        width: 140px;
        background-color: var(--white-color);
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        padding-left: 0;
        z-index: 1;
        display: none;
    }
    .header .navbar-user-menu::after{
        content: "";
        display: block;
        width: 80%;
        position: absolute;
        top: -15px;
        right: 0;
        height: 20px;
    }
    .header .navbar-user-menu::before{
        content: "";
        position: absolute;
        top: -30px;
        right: 0px;
        border-width: 20px 30px;
        border-color: transparent transparent var(--white-color) transparent;
        border-style: solid;
    }

    .header .navbar-user-item{
        list-style: none;
        padding: 12px 16px;
    }
    .header .navbar-user-item:hover{
        background-color: #f5f5f5;
    }
    .header .navbar-user-item:first-child{
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .header .navbar-user-item:last-child{
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .header .navbar-user-item a{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--text-color);
    }
    .header .user-out{
        color: var(--primary-color) !important;
    }



/* QR */
.header .navbar__QR{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 12px;
    background-color: var(--white-color);
    padding: 4px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    display: none;
    animation: faceIn ease-in 0.3s;
    z-index: 1;

}
.header .navbar__item--QR:hover .navbar__QR{
    display: block;
    cursor: auto;
}

.header .navbar__item--QR::before{
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
}

.header .navbar__QR-img{
    width: 160px;
}
.header .navbar__apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}
.header .navbar__apps-link:nth-child(1){
    margin-left: 10px;
}
.header .navbar__apps-link:nth-child(2)
{
    margin-right: 10px;
}

.header .navbar__apps-link{
    height: 1.5rem;;
}

/* Navbar Notify */
@keyframes bellIn {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header .navbar__item--bell{
    position: relative;
}
.header .navbar__item--bell::before{
    content: "";
    display: block;
    width: 100px;
    position: absolute;
    top: 100%;
    left: -35px;
    height: 20px;
}


.header .navbar__notify::before{
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    border-style: solid;
}

.header .navbar__notify{
    width: 404px;
    position: absolute;
    right: 8px;
    top: 100%;
    margin-top: 12px;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    animation: bellIn ease-in 0.2s;
    will-change: opacity transform;
    display: none;
    z-index: 2;
    border-radius: 2px;
}
.header .navbar__item--hover:hover .navbar__notify{
    display: block;
}

.header .navbar__notify-header{
    padding: 16px;
    font-size: 1.3rem;
    color: rgb(151, 151, 151);
    font-weight: 400;
    text-transform: capitalize;
    cursor: default;
}
.header .navbar__notify-body{
    padding-left: 0;
}
.header .navbar__notify-item{
    list-style: none;
    padding: 8px 16px;
    background-color: #f6412d1f;
}
.header .navbar__notify-item:hover{
    background-color: #f7f7f7;

}
.header .navbar__notify-link{
    text-decoration: none;
    display: flex;
}
.header .navbar__notify-img{
    width: 50px;
    margin-right: 8px;
    object-fit: contain;
}
.header .navbar__notify-info{
    color: var(--text-color);
}
.header .navbar__notify-name{
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.8rem;
}
.header .navbar__notify-content{
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.header .navbar__notify-btn{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    text-align: center;
    background-color: #f7f7f7;
    padding: 12px 0;
    width: 100%;
}
.header .navbar__notify-btn:hover{
    background-color: #f7f7f779;
}


.header .navbar__item,
.header .navbar__item--link{
    list-style: none;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
}

.header .navbar__item:hover,
.header .navbar__item--link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header .navbar__item--line{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.header .nav__item--content{
    color: var(--white-color);
    cursor: text;
    margin-right: 4px;
}

.header .navbar__item-icon{
    font-size: 1.8rem;
    margin: 0 4px;
    margin-top: -2px;
}

/* Modal */
.modal .auth-form{
    display: none;
    width: 500px;
    background-color: var(--white-color);
    border-radius: inherit;
    overflow: hidden;
}
.modal .auth-form__container{
    padding: 16px 32px ;
}
.modal .auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.modal .auth-form__heading{
    font-size: 2rem;
}
.modal .auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.modal .auth-form__input{
    width: 100%;
    height: 36px;
    font-size: 1.4rem;
    padding: 0 12px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    outline: none;
}
.modal .auth-form__input:focus{
    border-color: #777;
}
/* .modal .auth-form__aside{
    padding: 0 12px;
} */
.modal .auth-form__text{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.8rem;
    padding: 0 12px;
}
.modal .auth-form__link{
    text-decoration: none;
    color: var(--primary-color);
}
.modal .auth-form__controls{
    display: flex;
    justify-content: space-around;
}
.modal .btn-back{
    background-color: #f5f5f5;
}
.modal .btn-back:hover{
    background-color: rgba(0,0,0,0.1);
}
.modal .auth-form__social{
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
}
.modal .btn--with-icon{
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    margin: 0 8px;
    font-size: 1.3rem;
    font-weight: 300;
}
.modal .auth-form__social--fb{
    background-color: #3a5a98;
    color: var(--white-color);
}
.modal .auth-form__social--gg{
    background-color: var(--white-color);
    color: #666;
}
.modal .auth-form__social--title{
    margin: 0 20px;
}

.modal .auth-form__help{
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
}
.modal .auth-form__help-link{
    color: #939393;
    text-decoration: none;
    padding: 2px 0 2px 12px;
}
.modal .auth-form__help--forgot{
    color: var(--primary-color);
    padding-right: 12px;
    border-right: 1px solid #cacaca;
}

/* Logo */
.header .header-with-search{
    height: var(--height-remaining);
    display: flex;
    align-items: center;
}
.header .header__logo{
    width: 200px;
}
.header .header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header .header__logo-img{
    width: 80%;
    margin: 0 4px;
    cursor: pointer;
}
/* Input Search */
.header .header__search{
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
}
.header .header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
    border-radius: inherit;
}
.header .header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
    padding: 0 16px;
}
    /* Search History */
    .header .header__search-input:focus ~ .search__history{
        display: block;
    }
    .header .search__history{
        width: calc(100% - 20px);
        background-color: var(--white-color);
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        box-shadow: 0 1px 2px #e2e2e2;
        border-radius: inherit;
        display: none;
        z-index: 1;
    }
    .header .search__history-list{
        padding-left: 0;
        margin: 0;
    }
    .header .search__history-list h4{
        margin: 0;
        padding: 12px 16px;
        font-size: 1.4rem;
        font-weight: 300;
        color: #939393;
        cursor: default;
    }
    .header .search__history-item{
        list-style: none;
        padding: 12px 16px;
    }
    .header .search__history-item:hover{
        background-color: #f5f5f5;
        cursor: pointer;
    }
    .header .search__history-item a{
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--text-color);
        display: block;
    }

.header .header__search-select{
    cursor: pointer;
    position: relative;
}
.header .header__search-select-lable{
    padding: 4px 12px;
    border-left: 1px solid #cacaca;
}
.header .header__search-icon{
    margin: 3px 3px 3px 12px;
    /* height: 34px; */
    padding: 10px 24px;
    border-radius: inherit;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
}
.header .header__search-icon:hover{
    opacity: 0.9;
}

.header .header__search-select:hover .header__search-option {
    display: block;
}
.header .header__search-option{
    position: absolute;
    right: -12px;
    top: calc(100% + 2px);
    background-color: var(--white-color);
    border-radius: 2px;
    width: 122px;
    padding-left: 0;
    box-shadow: 0 1px 2px #e2e2e2;
    display: none;
    animation: faceIn linear 0.1s;
    z-index: 1;
}
.header .header__search-option::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -12px;

}

.header .header__search-option-item{
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 12px;
    display: flex;
    justify-content: space-between;
}
.header .header__search-option-item:hover{
    background-color: #f7f7f7;
}
.header .header__search-option-item:first-child{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.header .header__search-option-item:last-child{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.header .header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    display: none;
}
.header .header__search-option-item--active i{
    display: block;
}

/* Header Cart */
.header .header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
}
.header .header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    padding: 8px 12px;
    cursor: default;
    position: relative;
}
.header .header__cart-icon:hover >i{
    opacity: 0.9;
}
.header .header__cart-icon:hover .header__cart-list{
    display: block;
}
.header .header__cart-list{
    position: absolute;
    top: 44px;
    right: 0px;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin-right: 0;
    animation: bellIn ease-in 0.2s;
    will-change: opacity transform;
    transform-origin: 95% top;
    display: none;
    z-index: 1;
}
.header .header__cart-list::after{
    content: "";
    position: absolute;
    top: -25px;
    right: 4px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header .header__cart-list::before{
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    width: 100px;
    height: 30px;
}
.header .header__cart-notice{
    position: absolute;
    top: 0;
    right: -5px;
    padding: 1px 7px;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}
    /* No Cart Products */
    .header__cart-list .no-cart-img{
        width: 60%;
        margin: 24px auto;
        display: none;
    }
    .header__cart-list span{
        color: var(--text-color);
        font-size: 1.6rem;
        text-align: center;
        padding-bottom: 24px;
        display: none;
    }
    .header__cart--no-product .no-cart-img,
    .header__cart--no-product span{
        display: block;
    }

    /* Cart products */
    .header .header__cart-head{
        margin: 0;
        font-size: 1.4rem;
    }

    .header .header__cart-list-items{
        padding-left: 0;
        max-height: 340px;
        height: 49vh;
        margin: 0;
        overflow-y: auto;
    }

    .header .header__cart-item{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 12px 16px;
    }
    .header .header__cart-item:hover{
        background-color: #eeeeee;
    }

    .header .header__cart-body{
        flex: auto;
        display: flex;
        justify-content: space-between;
        color: var(--text-color);
    }
    .header .header__cart-item-name{
        line-height: 1.4rem;
        max-height: 1.4rem;
        padding-right: 12px;
        overflow: hidden;
        flex: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    .header .header__cart-item-money{
        font-size: 1.4rem;
        display: flex;
        width: 100px;
        justify-content: space-between;
    }
    .header .header__cart-item-content{
        color: #939393;
    }
    .header .header__cart-item-price{
        color: var(--primary-color);
    }

    .header .header__cart-item-delete{
        float: right;
        margin-top: 4px;
        font-size: 1.5rem;
    }
    .header .header__cart-item-delete:hover{
        color: var(--primary-color);
    }

    .header .header__cart-view{
        display: flex;
        justify-content: flex-end;
        padding: 16px;
        width: 100%;
        border-radius: 2px;
        background-color:  #f5f5f58f;
    }
    .header .btn-cart:hover{
        opacity: 0.9;
    }

/* App container */
.app__container{
    background-color: #f5f5f5;
    padding: 36px 0;
}
/* .app__content{
    padding:36px 0;
} */

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category .category__head{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    text-transform: capitalize;
    border-bottom: 2px solid #f5f5f5;
    margin: 0;
}
.category .category__head-icon{
    font-size: 1.5rem;
    margin-right: 4px;
    cursor: pointer;
}
.category .category-list{
    padding-left: 0;
    list-style: none;
}

.category .category-item {
    position: relative;
}
.category .category-item::before {
    content: "";
    border-bottom: 1px solid #e1e1e1;
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
}
.category .category-item:last-child::before {
    display: none;
}

.category .category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(calc(-50% - 1px));
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.category .category-item__link{
    position: relative;
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--text-color);
    padding: 12px 24px;
    right: 0;
    transition: right linear 0.1s;
}
.category .category-item__link:hover{
    right: -8px;
    color: var(--primary-color);
}
/* Home Filter */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border-radius: 2px;
}
.home-filter__lable{
    font-size: 1.4rem;
    color: rgba(0,0,0,0.8);
    margin-right: 16px;
}
.home-filter__btn{
    min-width: 100px;
    margin-right: 12px;
}
.select-input__lable {
    margin-top: 3px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list::before{
    content: "";
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
.select-input__list{
    position: absolute;
    top: calc(100% - 12px);
    left: 0;
    width: 100%;
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    border-radius: inherit;
    display: none;
    z-index: 1;
}
.select-input__item{
    padding: 0px 8px;
    margin-top: 12px;
}
.select-input__item:last-child{
    margin-bottom: 12px;
}
.select-input__link{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.select-input__link:hover{
    color: var(--primary-color);
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: #000;
    padding-right: 24px;
}
.home-filter__page-num--current{
    color: var(--primary-color);
}
.home-filter__page-controls{
    height: 34px ;
    width: 60px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.home-filter__page-btn{
    width: 50%;
    height: 100%;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
    background-color: #f9f9f9;
    color: rgba(0,0,0,0.3);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    cursor: default;
}

/* Products Item */
.products{
    margin-bottom: 10px;
}
.products .products-item{
    position: relative;
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.products .products-item:hover{
    transform: translateY(-3px);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
}

.products-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.products-item__name{
    font-size: 1.4rem;
    line-height: 1.8rem;
    height: 3.6rem;
    color: var(--text-color);
    margin: 10px 10px 6px 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.products-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

    .products-item__price--old{
        font-size: 1.4rem;
        text-decoration: line-through;
        color: #939393;
        font-weight: 300;
        margin-left: 10px;
    }

    .products-item__price--current{
        color: var(--primary-color);
        font-size: 1.4rem;
        margin-left: 10px;
        font-weight: 500;
    }

.products-item__action{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px;
}

    .products-item__like{
        font-size: 1.3rem;
    }
        .products-item__like-icon--fill{
            display: none;
            color: var(--primary-color);
        }
        .products-item__like--clicked .products-item__like-icon--fill{
            display: inline-block;
        }
        .products-item__like--clicked .products-item__like-icon--empty{
            display: none;
        }

    .products-item__rating{
        font-size: 1rem;
        transform: scale(0.8);
        transform-origin: right;
        color: #bfbfbf;
        margin-left: auto;
    }
        .products-item__star--gold{
            color: var(--star-gold);
        }

    .products-item__sold{
        font-size: 1.2rem;
        color: var(--text-color);
        margin-left: 6px;
    }


.products-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    padding-bottom: 8px;
}

.products-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    padding-right: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
    .products-item__favourite::before{
        content: "";
        border-top: 3px solid currentColor;
        border-left: 3px solid transparent;
        position: absolute;
        left: 0;
        bottom: -3px;
        filter: brightness(60%);
    }
    .products-item__favourite i{
        font-size: 1rem;
        color: var(--white-color);
        margin: 0px 3px 0px 5px;
    }
    .products-item__favourite span{
        color: var(--white-color);
    }

.products-item__sale{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.941);
    border-top-right-radius: 2px;
    text-align: center;
    padding: 4px 0;
}
    .products-item__sale::before{
        content: "";
        border-style: solid;
        border-width: 0 20px 4px;
        border-color: transparent #ffd840f0 transparent #ffd840f0;
        position: absolute;
        bottom: -4px;
        left: 0;
    }
    .products-item__sale-percent{
        color: var(--primary-color);
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.3rem;
    }
    .products-item__sale-lable{
        font-size: 1.3rem;
        line-height: 1.3rem;
        text-transform: uppercase;
        color: var(--white-color);
    }

.home-products__pagination {
    margin-top: 48px;
    margin-bottom: 0;
}

/* Footer */
.footer {
    border-top: 3px solid var(--primary-color);
    background-color: var(--white-color);
}

    .footer__head {
        margin-top: 32px;
        margin-bottom: 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--text-color);
        text-transform: uppercase;
    }
    ul.footer-list {
        padding-left: 0;
    }
    .footer-item {
        list-style: none;
    }
    .footer-item__link {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 1.3rem;
        color: #737373;
        padding: 8px 0;
        display: flex;
    }
    .footer-item__link:hover {
        color: var(--primary-color);
    }
    .footer-item__link-icon {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin: -2px 8px 0 0;
    }
    .footer__download {
        display: flex;
        width: 100%;
    }
    .footer__download-QR {
        width: 50%;
    }
    .footer__download-apps {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer__download-apps-img {
        width: 80%;
        padding: 0px 0 12px 8px;
    }

.footer-body {
    margin-top: 36px;
    padding: 40px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    background-color: var(--white-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
    .footer-body__text {
        font-size: 1.4rem;
        color: #737373;
        margin-right: 24px;
    }
    .footer-body__list {
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 60%;
    }
    .footer-body__item-distric {
        font-size: 1.4rem;
        color: #737373;
        padding: 0 8px;
        border-right: 1px solid rgba(0,0,0,0.2);
    }
    .footer-body__item-distric:first-child{
        padding-right: 0;
        border: none;
    }
    .footer-body__item-distric:last-child{
        padding-right: 0;
        border: none;
    }
    .footer-body__link-distric {
        color: #737373;
        text-decoration: none;
        text-transform: capitalize;
    }

.footer-bottom {
    background-color: #f5f5f5;
    padding: 32px 0;
}
    .footer-bottom-list{
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    .footer-bottom-item__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: #737373;
        padding: 0 24px;
    }
    .footer-bottom__copyright {
        display: block;
        font-size: 1.2rem;
        color: #737373;
        margin-top: 64px;
        text-align: center;
    }








/* javascript */
.auth-form--resgiter.open-form{
    display: block;
}
.auth-form--login.open-form{
    display: block;
}

.item-open-user.close{
    display: none;
}
.navbar__item.navbar__item-user.open{
    display: flex;
}