* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
}

.main {
    width: 1200px;
    min-height: 100vh;
    max-width: 100%;
    margin: auto;
    padding-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #333;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-right: 48px;
}

/* Article */
h1 {
    line-height: 2rem;
}

article {
    padding: 0 16px;
    line-height: 1.6rem;
}

article img {
    width: 640px;
    max-width: 100%;
    display: block;
    margin: 32px auto;
}

/* Mobile Nav */
.nav__bars-btn {
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
}
.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    animation: faceIn linear 0.2s;
}
.nav__mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.2s;
}

.nav__mobile-list {
    margin-top: 24px;
    list-style: none;
}
.nav__mobile-close {
    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
}

.nav__mobile-link {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1.4rem;
    padding: 8px 0;
}
.nav__input {
    display: none;
}
.nav__input:checked ~.nav__overlay {
    display: block;
}
.nav__input:checked ~.nav__mobile {
    opacity: 1;
    transform: translateX(0);
}
@keyframes faceIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media  only screen and (max-width: 1023px) {
    .nav__pc {
        display: none;
    }
    .nav__bars-btn {
        display: block;
        margin-left: 12px;
        margin-top: 8px;
    }
}